
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}


.siteNav{
width:100%;
height:32px;
background:#F2F2F2;
}

.topLeftBar{
height:32px;
line-height:32px;
display:inline-block
}
.topMenu{
padding:0 10px;
float:left;
position:relative
}
.topMenuGroup{
padding:0 10px;
right:0;
height:32px;
line-height: 32px;
top: 0px;
position:absolute
}

.mlogo{
 background: url(../assets/logo-zyk.png) no-repeat!important;
}